<div class="form-group">
  <label class="col-xs-2 control-label">State:</label>
  <div class="col-xs-10">
    <span class="form-control" >{{stateText}}</span>
  </div>
</div>

<div class="form-group">
  <label class="col-xs-2 control-label">Name:</label>
  <div class="col-xs-10">
    <input name="name" type="text" placeholder="Work step name" [(ngModel)]="step.name" class="form-control" (ngModelChange)="namechange($event)">
  </div>
</div>

<div class="form-group">
  <label class="col-xs-2 control-label">Command:</label>
  <div class="col-xs-10">
    <input name="command" type="text" placeholder="Work step command" [(ngModel)]="step.command" class="form-control" (ngModelChange)="commandchange($event)">
  </div>
</div>
